
@model IDA.Models.Applications.AppVersionsViewModel

<h3 style="padding-bottom: 10px;">Environments</h3>

<div style="width: 500px; display: table;">
    <div style="display: table-row">
        <div class="form-group" style="display: table-cell;">
            QA
        </div>
        <div class="form-group" style="display: table-cell;">
            ...
        </div>
    </div>
    <div style="display: table-row">
        <div class="form-group" style="display: table-cell;">
            QA (Prod Data)
        </div>
        <div class="form-group" style="display: table-cell;">
            ...
        </div>
    </div>
    <div style="display: table-row">
        <div class="form-group" style="display: table-cell;">
            Prod
        </div>
        <div class="form-group" style="display: table-cell;">
            ...
        </div>
    </div>
    <div style="display: table-row">
        <div class="form-group" style="display: table-cell;">
            DR
        </div>
        <div class="form-group" style="display: table-cell;">
            ...
        </div>
    </div>
 </div>
   
